---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../config"

const siteTitle = SITE_TITLE
const siteDescription = SITE_DESCRIPTION
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>
  <body>
    <Header />

    <main>
      <h2>Greetings</h2>
      <p>
        Hello 👋 I'm Andrew. I love solving problems with software engineering
        and data science.
      </p>
    </main>

    <Footer />
    <style>
      main {
        @apply flex min-h-screen flex-col gap-2 px-4;
      }
    </style>
  </body>
</html>
