---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../config"

const siteTitle = SITE_TITLE
const siteDescription = SITE_DESCRIPTION
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>
  <body>
    <Header />

    <main>
      <h2>Greetings</h2>
      <p>
        Hello 👋 I'm Andrew. I love solving problems with software engineering
        and data science.
      </p>

      <h2>Contact</h2>
      <dl>
        <dt>Email:</dt>
        <dd><a href="mailto:andrew@ongko.dev">andrew@ongko.dev</a></dd>

        <dt>LinkedIn:</dt>
        <dd>
          <a href="https://www.linkedin.com/in/andrew-ongko"
            >https://www.linkedin.com/in/andrew-ongko</a
          >
        </dd>

        <dt>Medium:</dt>
        <dd>
          <a href="https://medium.com/@andrew.ongko"
            >https://medium.com/@andrew.ongko</a
          >
        </dd>

        <dt>Resume:</dt>
        <dd>
          <a
            href="https://drive.google.com/file/d/1fR8XwUUo4wODWB5eOfwAxROk6F3KhCAC/view?usp=sharing"
            target="_blank"
          >
            GDrive - Resume.pdf
          </a>
        </dd>
      </dl>
    </main>

    <Footer />
    <style>
      main {
        @apply flex min-h-screen flex-col gap-2 px-4;
      }
    </style>
  </body>
</html>
